[font]
size = 14

[font.normal]
family = "CaskaydiaCove Nerd Font"

[[keyboard.bindings]]
key = "Slash"
mods = "Control"
chars = "\u001F"

[[keyboard.bindings]]
key = "Insert"
mods = "Shift"
action = "Paste"

[mouse]
bindings = [
  { mouse = "Right", action = "Paste" },
]

[selection]
save_to_clipboard = true

{{- if eq .domic.os "windows" -}}
[terminal]
shell = { program = "C:\\Users\\cqroot\\scoop\\apps\\pwsh\\current\\pwsh.exe" }
{{- end -}}
