configuration {
  terminal: "/usr/bin/alacritty";
  run-shell-command: "{terminal} -e {cmd}";
  modi: "drun,run,calc,emoji,window";
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "nord"
