@theme "~/.config/rofi/nord"

configuration {
  terminal: "/usr/bin/alacritty";
  run-shell-command: "{terminal} -e {cmd}";
  modi: "drun,run,calc,emoji";
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
