#!/usr/bin/env bash

{{ if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "fedora" }}
bash "{{ .chezmoi.sourceDir }}/scripts/install_for_fedora_linux.bash"
{{   else if eq .chezmoi.osRelease.id "arch" }}
bash "{{ .chezmoi.sourceDir }}/scripts/install_for_arch_linux.bash"
{{   end }}
{{ end }}