#!/usr/bin/env bash

SCRIPT_DIR=$(cd -- "$(dirname -- "${BASH_SOURCE[0]}")" &>/dev/null && pwd)
readonly SCRIPT_DIR

PROJECT_DIR=$(dirname "${SCRIPT_DIR}")
readonly PROJECT_DIR

DONF_DIR="${PROJECT_DIR}/dconf"
readonly DONF_DIR

function dump_gnome_settings() {
    echo "Dumping GNOME settings to ${DONF_DIR}"
    if [[ ! -d "${DONF_DIR}" ]]; then
        mkdir -p "${DONF_DIR}"
    fi
    dconf dump /org/gnome/desktop/interface/ >"${DONF_DIR}/interface.dconf"
    dconf dump /org/gnome/desktop/session/ >"${DONF_DIR}/session.dconf"
    dconf dump /org/gnome/desktop/screensaver/ >"${DONF_DIR}/screensaver.dconf"
    dconf dump /org/gnome/desktop/wm/preferences/ >"${DONF_DIR}/wm-preferences.dconf"
    dconf dump /org/gnome/desktop/wm/keybindings/ >"${DONF_DIR}/keybindings.dconf"
    dconf dump /org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/ >"${DONF_DIR}/custom-keybindings.dconf"
    echo "Dump completed"
}

function load_gnome_settings() {
    echo "Loading GNOME settings from {{ .chezmoi.sourceDir }}/dconf"
    dconf load /org/gnome/desktop/interface/ <"{{ .chezmoi.sourceDir }}/dconf/interface.dconf"
    dconf load /org/gnome/desktop/session/ <"{{ .chezmoi.sourceDir }}/dconf/session.dconf"
    dconf load /org/gnome/desktop/screensaver/ <"{{ .chezmoi.sourceDir }}/dconf/screensaver.dconf"
    dconf load /org/gnome/desktop/wm/preferences/ <"{{ .chezmoi.sourceDir }}/dconf/wm-preferences.dconf"
    dconf load /org/gnome/desktop/wm/keybindings/ <"{{ .chezmoi.sourceDir }}/dconf/keybindings.dconf"
    dconf load /org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/ <"{{ .chezmoi.sourceDir }}/dconf/custom-keybindings.dconf"
    gsettings set org.gnome.settings-daemon.plugins.media-keys custom-keybindings "['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/', '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1/']"
    echo "Load completed"
}

function main() {
    echo "Starting run_once_after_restore-gnome-settings.sh, args: $*"
    case "$1" in
    dump)
        dump_gnome_settings
        ;;
    *)
        load_gnome_settings
        ;;
    esac
    echo "Done"
}

main "$@"
